.wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 120px;
}

.thumbnail {
    display: block;
    width: 100%;
    aspect-ratio: 3/4;
    object-fit: cover;
    border-radius: 10px;
}

.textBox {
    padding: 4px 0 0;
}

.brand {
    font-size: 11px;
    font-weight: 700;
}

.name {
    display: -webkit-box;
    -webkit-line-clamp: 2;
    overflow: hidden;
    -webkit-box-orient: vertical;
    font-size: 12px;
}
