.wrapper {
    margin-top: 20px;
    border-radius: 20px;
}

.tags {
    display: flex;
    align-items: center;
    gap: 6px;
    margin-bottom: 8px;
}

.desc {
    margin-top: 8px;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.5;
}

.allergy {
    margin-top: 20px;
}
