.wrapper {
    margin-top: 24px;
}

.item {
    display: flex;
    justify-content: space-between;
    margin-bottom: 8px;
    font-size: 14px;
    text-transform: capitalize;

    &:last-child {
        margin-bottom: 0;
    }
}

.skeleton {
    font-size: 15px;
}
