.wrapper {
    padding: 20px 0;
}

.item {
    display: flex;
    justify-content: space-between;
    margin-bottom: 6px;
    font-size: 13px;
    text-transform: capitalize;

    &:last-child {
        margin-bottom: 0;
    }
}
