.wrapper {
    margin-top: 20px;
}

.item {
    display: flex;
    justify-content: space-between;
    margin-bottom: 6px;
    font-size: 13px;
    text-transform: capitalize;

    &:last-child {
        margin-bottom: 0;
    }
}

.skeleton {
    font-size: 13px;
}
