@import "@/styles/utils";

.wrapper {
    padding: 0 20px;
}

.items {
    display: flex;
    flex-wrap: wrap;
    overflow: hidden;
    margin: 40px -4px 0;
    gap: 12px;
}

.item {
    width: calc(25% - 9px);

    @media (max-width: 480px) {
        width: calc(50% - 6px);
    }
}

.brand {
    display: block;
    overflow: hidden;
    position: relative;
    padding: 20px 12px;
    border-radius: 6px;

    &:hover {
        .brandLogo {
            opacity: 0.7;
            transform: scale(0.6);
        }
    }
}

.brandName {
    position: relative;
    z-index: 1;
    font-size: 14px;
    font-weight: 700;
}

.brandLogo {
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    object-fit: cover;
    transform: scale(0.7);
    transition: opacity 0.3s, transform 0.3s;
    opacity: 0.18;
}

.caution {
    margin-top: 20px;
    font-size: 14px;
    color: $gray-3;
}
