@import "@/styles/utils";

.wrapper {
    padding: 0 20px;
}

.items {
    display: flex;
    flex-wrap: wrap;
    overflow: hidden;
    margin: 40px -4px 0;
}

.item {
    width: 25%;
}

.brand {
    display: block;
    padding: 12px 4px;
    text-align: center;
}

.brandName {
    margin-top: 8px;
    font-size: 14px;
    font-weight: 500;
}

.brandLogo {
    display: block;
    width: 36px;
    height: 36px;
    margin: 0 auto;
    border-radius: 50%;
    object-fit: cover;
}

.caution {
    margin-top: 20px;
    font-size: 14px;
    color: $gray-3;
}
