.wrapper {
    margin-top: 20px;
}

.scrollArea {
    overflow-x: auto;
    margin: 0 -20px;
    padding-bottom: 4px;
}

.items {
    display: flex;
    align-items: center;
    gap: 8px;
    width: max-content;
    padding: 0 20px;
}
