.wrapper {
    display: flex;
}

.cover {
    display: block;
    width: 110px;
    height: auto;
    margin-right: 12px;
    border-radius: 6px;
    aspect-ratio: 1 / 1;
    border-radius: 20px;
    object-fit: cover;
}

.text {
    flex: 1;
}

.brand {
    display: flex;
    align-items: center;
    font-size: 13px;
    font-weight: 500;

    svg {
        margin-bottom: 2px;
    }
}

.title {
    font-size: 16px;
    font-weight: 700;

    span {
        display: block;
        font-size: 13px;
        font-weight: 500;
        color: #a6a6a6;
    }
}

.tag {
    margin-top: 12px;
}
