.wrapper {
    overflow: hidden;
    border-radius: 40px;
}

.cover {
    display: block;
    width: 100%;
    height: auto;
    border-radius: 6px;
    aspect-ratio: 1 / 1;
    border-radius: 20px;

    object-fit: cover;
}
