.wrapper {
    display: flex;
    align-items: center;
    margin: 0 20px;
    padding: 8px 0 12px;
    border-bottom: 1px solid #ebebeb;
}

.icon {
    display: block;
    width: 40px;
    height: 40px;
    margin-right: 12px;
    border-radius: 50%;
}

.brand {
    flex: 1;
    font-size: 16px;
}
