.wrapper {
    display: flex;
    align-items: center;
    margin: 0 20px;
    padding: 8px 0 12px;
    border-bottom: 1px solid #ebebeb;
}

.icon {
    display: block;
    width: 40px;
    height: 40px;
    margin-right: 12px;
    border-radius: 50%;
    object-fit: cover;
}

.brand {
    flex: 1;
    font-size: 16px;
}

.link {
    display: flex;
    align-items: center;
    padding: 6px 8px;
    border-radius: 6px;
    font-size: 12px;
    background-color: #f7f7f7;

    &:hover {
        background-color: #eeeeee;
    }
}
