@import "@/styles/utils";

.wrapper {
    display: flex;
    align-items: center;
    max-width: 200px;
    height: 80px;
    padding: 4px 12px 4px 4px;
    border: 1px solid $gray-1;
    border-radius: 10px;
}

.thumbnail {
    display: block;
    height: 100%;
    margin-right: 12px;
    aspect-ratio: 4/5;
    object-fit: cover;
    border-radius: 10px;
}

.type {
    span {
        padding: 1px 3px;
        font-size: 11px;
    }
}

.name {
    display: -webkit-box;
    -webkit-line-clamp: 2;
    overflow: hidden;
    -webkit-box-orient: vertical;
    margin-top: 4px;
    font-size: 14px;
    font-weight: 700;
}

.skeleton {
    width: 140px;
    height: 80px;
}
